// Медиа ширина

@media(max-width: 850px) {
    header {
        padding: 0 20px;
        padding-right: 10px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        display: none;
        position: absolute;

        ul {
            display: block;

            li:hover {
                border: none;
            }
        }
    }
}
// LArge desktop

// @media(min-width: 1200px) {
//     main .left-square {
//         width: 400px;
//         height: 240px;
//         top: 35px;
//     }
//     main .right-square {
//         width: 330px;
//         height: 200px;
//     }

// }

@media(min-width: 800px) {
    main .right-square {
        width: 200px;
        height: 180px;
    }

    main .left-square {
        width: 213px;
        height: 230px;
    }
}


// Медиа высота

@media(max-height: 700px) {
    main .right-square {
        height: 144px;
    }

    main .left-square {
        height: 180px;
    }
}

@media(min-height: 600px) {
    main #my-skills {
        margin-bottom: 0;
    }

    main #my-skills .skill-stat .html-skill {
        height: 20px;
    }
}

@media(max-height: 600px) {
    main #brand-name {
        top: 60px;
    }

    main #my-skills {
        top: 35%;
    }

    main #contact form .contact {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}